*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F5F5F5;
}
main{
    
    height: 100vh;
    display: flex;              
    justify-content: center;   
    align-items: center; 
       
}
#login{
    box-shadow: 5px 5px 5px #cbcbcb;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.photo-login{
    padding: 15px;
    width: 150px;
    

}
#photo{
    background-color: #F1ACFF;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    border-radius: 15px;

}
#form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#form p{
    font-size: 8px;
    color: #370077;
    font-weight: bold;
}
#split-login{
    background-color: white;
    display: flex;
    width: 400px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}