*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F5F5F5;
}
main{
    
    height: 100vh;
    display: flex;              
    justify-content: center;   
    align-items: center; 
       
}
#login{
    box-shadow: 5px 5px 5px #cbcbcb;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}
.photo-login{
    padding: 25px;
    width: 450px;
    

}
#photo{
    background-color: #F1ACFF;
    height: 50%;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;

}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
#form button{
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    width: 40%;
    border-style: none;
    background-color: #370077;
    box-shadow: 1px 3px 5px #bebebe;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
#form button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#form p{
    font-size:25px;
    color: #370077;
    font-weight: bold;
    margin-bottom: 55px;
}
.form-login{
    width: 300px;
    border-style: none;
    background-color:#E6E6E6;
    border-radius: 8px;
    font-size: 20px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 8px;
}
.form-icon-input{
    display: flex;
    justify-content: center;
    gap: 2px;
}
.bi{
    font-size: 35px;
    color: #565656;
}
#split-login{
    background-color: white;
    display: flex;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#login-inputs-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
